/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h4, p {
    font-family: Lato;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
table {
    width: 100%;
}

#mainContent{
    padding: 30px;;
}

.midContent{text-align: center;}
.nav li{list-style: none; padding-left: 10px; padding-right: 10px; display: inline;}


