<div class="midContent"><img src="/assets/reg.jpg" /></div>


<form [formGroup]="regForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">    
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Birthday" formControlName="birthday">
          </mat-form-field>
      

          <button [disabled]="!regForm.valid" mat-raised-button color="primary" mat-button>Sign Un</button>
        </div>
      </form>
      
      <pre>
      {{regForm.value | json }}
      </pre>